<center> 
<h3> What is your name? </h3>
<form action="/happy_birthday" method="post" >
    <input type=text name=name>
 
<h4> What is your birthday? </h4>
    <input type=text name=birthday >
    <input type=text name=birthmonth>
    <input type=submit value=Submit>
</form>
</center>